# autoconf products
/aclocal.m4
/autocrypt/Makefile.in
/autom4te.cache
/compile
/Makefile.in
/contrib/Makefile.in
/doc/Makefile.in
/imap/Makefile.in
/m4/Makefile.in
/po/Makefile.in
/config.h
/config.h.in
/config.cache
/config.log
/config.status
/configure
/stamp-h1
/doc/Muttrc
/doc/instdoc.sh
/po/POTFILES
/config.guess
/config.sub
/configure.lineno
/depcomp
/install-sh
/missing
/mkinstalldirs

# gettextize installed files
/ABOUT-NLS
/config.rpath
/m4/build-to-host.m4
/m4/gettext.m4
/m4/host-cpu-c-abi.m4
/m4/iconv.m4
/m4/intlmacosx.m4
/m4/lib-ld.m4
/m4/lib-link.m4
/m4/lib-prefix.m4
/m4/nls.m4
/m4/po.m4
/m4/progtest.m4
/po/Makefile.in.in
/po/Makevars.template
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/fetch-po
/po/insert-header.sed
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sed
/po/remove-potcdate.sin

# built objects
/flea
/hcversion.h
/keymap_defs.h
/keymap_alldefs.h
/doc/makedoc
/mutt
/mutt_dotlock
/mutt_dotlock.c
/patchlist.c
/conststrings.c
/pgpewrap
/mutt_pgpring
/reldate.h
/smime_keys
/txt2c
/stamp-doc-rc
/version.h
/doc/instdoc
/doc/manual.txt
/doc/manual.xml
/doc/manual.aux
/doc/manual.log
/doc/manual.out
/doc/manual.tex
/doc/manual.pdf
/doc/mutt.1
/doc/muttrc.man
/doc/pgpewrap.1
/doc/mutt_pgpring.1
/doc/*.html
/doc/mutt.info
/doc/mutt.texi
/doc/stamp-*
/doc/smime_keys.1
/po/mutt.pot
/po/stamp-po
/po/remove-potcdate.sed

# xcode droppings
/build/
.xcodeproj/

# eclipse
/.project
/.cproject
/.settings/

.deps
Makefile
GPATH
GRTAGS
GTAGS
TAGS
cscope.*
*.swp
*.o
*.gmo
*.orig
*.rej
*.a
.gdb_history
*~
